<div>
    <a href="/admin/post/create" class="btn btn-success pull-right">Create</a>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
                {{#with this}}
                    <tr>
                        <td><span>{{title}}</span></td>
                        <td><span>{{truncate description 50 true}}</span></td>
                        <td>
                            {{#if enabled}}
                                <button type="button" class="btn btn-success btn-sm">{{enabled}}</button>
                            {{else}}
                                <button type="button" class="btn btn-danger btn-sm">{{enabled}}</button>
                            {{/if}}
                        </td>
                        <td>
                            <a href="/admin/post/{{slug}}" class="btn btn-info">View</a>
                            <a href="/admin/post/{{slug}}/edit" class="btn btn-primary">Edit</a>
                            <a href="/admin/post/{{slug}}/delete" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {{/with}}
            {{/each}}
        </tbody>
    </table>
</div>